<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haojiasoftware.repository.mybatis.CsActivityMapper">
  
  <resultMap id="BaseResultMap" type="com.haojiasoftware.entity.CsActivity">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="begin_number" jdbcType="INTEGER" property="beginNumber" />
    <result column="end_number" jdbcType="INTEGER" property="endNumber" />
    <result column="prize" jdbcType="VARCHAR" property="prize" />
    <result column="seller_desc" jdbcType="VARCHAR" property="sellerDesc" />
    <result column="acti_rule" jdbcType="VARCHAR" property="actiRule" />
    <result column="prize_num" jdbcType="INTEGER" property="prizeNum" />
    <result column="begin_time" jdbcType="TIMESTAMP" property="beginTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="open_flag" jdbcType="INTEGER" property="openFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, begin_number, end_number, prize, seller_desc, acti_rule, prize_num, begin_time, 
    end_time, open_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cs_activity
    where id = #{id,jdbcType=INTEGER}
  </select>
  
</mapper>