<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.haojiasoftware.repository.mybatis.CsNumberMapper">
  <resultMap id="BaseResultMap" type="com.haojiasoftware.entity.CsNumber">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="activity_id" jdbcType="INTEGER" property="activityId" />
    <result column="number" jdbcType="INTEGER" property="number" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, user_id, activity_id, number, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cs_number
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <select id="selectByUserIdAndAcId" parameterType="java.util.Map" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List" />
  	from cs_number 
  	where 1=1 and user_id = #{userId} and activity_id = #{acId} limit 1;
  </select>
  
  <select id="selectByAcAndNumber" parameterType="java.util.Map" resultType="java.lang.Integer">
  	select count(id) from cs_number
  	where activity_id = #{acId} and number = #{number}
  </select>
  
  <select id="selectCountByAcId" parameterType="java.lang.Long" resultType="java.lang.Integer">
  	select count(id) from cs_number where activity_id = #{acId}
  </select>
  
  <select id="getLuck" parameterType="java.util.Map" resultType="NumberCount">
  	select ce.activity_id as activityId,
	ce.user_id as userId,
	u.nick_name as userName,
	ce.number as number,
	ce.create_time as createTime  
	from 
	(select * from 
		(select number,count(number) c,user_id,create_time,activity_id from cs_number where activity_id=#{acId} GROUP BY number) cc 
		where cc.c=1
	) ce 
	left join cs_user u on ce.user_id = u.id order by ce.create_time asc limit #{limit}
  </select>
  
</mapper>